/* doctor.html */
.doctor__slider-img{
    width: 100%;
    height: 100%;
}
.doctor__block-fullName2{
    color: #EC6069;
    font-size: 1.5em;
    font-family: 'Lily-karla';
    margin-bottom: 0.5em;
    text-align: center;
}
.doctor__block-position2{
    color: #696969;
    font-size: 1.2em;
    font-family: 'Lily-karla';
    margin-bottom: 0.5em;
    text-align: center;
}

